@font-face {
  font-family: InterExtraBold;
  src: url(Inter-ExtraBold.ttf);
}
@font-face {
  font-family: MerriweatherLight;
  src: url(Merriweather-Light.ttf);
}
body {
  background-color: #a51a1a;
}

h1 {
  font-family: InterExtraBold;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  margin: 0;
  letter-spacing: 5px;
}

h2 {
  font-family: InterExtraBold;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: InterExtraBold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h4 {
  font-family: InterExtraBold;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0;
  color: rgb(114, 114, 114);
  padding-left: 40px;
  letter-spacing: 2px;
}

label {
  font-family: InterExtraBold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  color: rgb(114, 114, 114);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: url(bg.jpg) fixed center/cover;
  margin: 0;
}

img {
  width: 100px;
}

button {
  display: flex;
  width: 165px;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-family: InterExtraBold;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  transform: scale(1.1);
}

header {
  min-height: 100vh;
  position: relative;
}
header .header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
header p {
  font-style: italic;
  font-size: 1.2rem;
  margin: 40px auto 60px;
}
header span {
  display: flex;
  height: 60px;
  width: 60px;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
header i {
  cursor: pointer;
}

nav {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 75%;
  left: 50%;
  justify-content: space-between;
  transform: translateX(-50%);
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.217);
  align-items: center;
}
nav .nav-left {
  display: flex;
  width: 50%;
  font-family: InterExtraBold;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav ul {
  min-height: 70px;
}
nav .nav-left li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  color: black;
  padding: 0 15px;
}
nav .nav-left li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
nav .nav-left li:hover {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
}
nav .nav-right {
  display: flex;
  width: 25%;
  justify-content: space-around;
  color: white;
  font-size: 1.1rem;
}
nav .nav-right li {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-right i {
  transition: 0.2s;
  cursor: pointer;
}
nav .nav-right i:hover {
  transform: scale(1.4);
}

.content {
  width: 75%;
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
}
.content .content-top {
  background-color: rgb(242, 242, 242);
  width: 80%;
  margin: 0 auto;
}
.content .content-top span {
  padding: 70px 0;
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-family: MerriweatherLight;
}
.content .content-top span::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 40%;
  background-color: rgb(210, 210, 210);
  top: 50%;
  left: 0;
}
.content .content-top span::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 40%;
  background-color: rgb(210, 210, 210);
  top: 50%;
  right: 0;
}
.content .content-top h2 {
  text-align: center;
  letter-spacing: 2px;
}
.content .content-top p {
  text-align: center;
  width: 65%;
  margin: 30px auto;
  line-height: 35px;
  font-family: MerriweatherLight;
  font-style: italic;
  font-size: 0.8rem;
}
.content .content-top img {
  width: 100%;
}
.content .content-top .btn {
  margin: 50px auto 90px;
}
.content .content-bottom {
  background-color: rgb(242, 242, 242);
  display: flex;
}
.content .content-bottom .content-bottom-left {
  padding: 60px;
  border-top: 1px solid rgb(210, 210, 210);
  border-right: 1px solid rgb(210, 210, 210);
}
.content .content-bottom .content-bottom-left p {
  font-family: MerriweatherLight;
  font-size: 0.8rem;
  line-height: 28px;
  text-align: left;
  padding: 15px 0;
}
.content .content-bottom .content-bottom-left span {
  text-align: center;
  display: block;
}
.content .content-bottom .content-bottom-left h3 {
  line-height: 30px;
  letter-spacing: 2px;
  text-align: center;
}
.content .content-bottom .content-bottom-left img {
  width: 100%;
}
.content .content-bottom .content-bottom-left button {
  margin: 0 auto;
}
.content .content-bottom .content-bottom-right {
  padding: 60px;
  border-top: 1px solid rgb(210, 210, 210);
}
.content .content-bottom .content-bottom-right p {
  font-family: MerriweatherLight;
  font-size: 0.8rem;
  line-height: 28px;
  text-align: left;
  padding: 15px 0;
}
.content .content-bottom .content-bottom-right span {
  text-align: center;
  display: block;
}
.content .content-bottom .content-bottom-right h3 {
  line-height: 30px;
  letter-spacing: 2px;
  text-align: center;
}
.content .content-bottom .content-bottom-right img {
  width: 100%;
}
.content .content-bottom .content-bottom-right button {
  margin: 0 auto;
}

footer {
  display: flex;
  width: 75%;
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-left form {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  line-height: 50px;
}
footer .footer-left input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
}
footer .footer-left input:focus {
  outline: none;
}
footer .footer-left textarea {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  height: 200px;
  resize: none;
}
footer .footer-left textarea:focus {
  outline: none;
}
footer .footer-left input[type=submit] {
  width: 160px;
  font-family: InterExtraBold;
  border: 2px solid rgb(114, 114, 114);
  color: rgb(114, 114, 114);
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  margin-top: 40px;
  transition: 0.2s;
  cursor: pointer;
}
footer .footer-left input[type=submit]:hover {
  transform: scale(1.1);
}
footer .footer-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-left: 1px solid rgb(210, 210, 210);
}
footer .footer-right p {
  margin: 0;
  color: rgb(142, 142, 142);
  font-family: MerriweatherLight;
  font-size: 0.8rem;
  line-height: 25px;
}
footer .footer-right div {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(210, 210, 210);
}
footer .footer-right div ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.9rem;
}
footer .footer-right div ul li {
  height: 35px;
  width: 35px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */